<div class="users_view">
  <div class="users-container">
    <% @users.each do |user| %>
      <div class="user-container">
        <div class="user-details">
          <div class="user-name"><%= user.name %></div>
          <div class="user-posts">Posts: <%= user.posts_counter %></div>
        </div>
      </div>
    <%end%>
  </div>
</div>